body {
    margin: 0px;
    box-sizing: border-box;
}

.OnePage {
    .head {
        display: flex;
        justify-content: space-between;

        .logo_name {
            display: flex;
            gap: 10px;
            margin: 10px 5%;
            align-items: center;
            text-decoration: none;
            outline: none;

            img {
                width: auto;
                height: 4em;
            }

            h1 {
                font-family: "JetBrains Mono", monospace;
                color: #000;
                font-size: 1.2em;
                margin-top: 10px;
            }
        }

        .options {
            display: flex;
            gap: 50px;
            align-items: center;
            margin-right: 5%;

            .link {
                background: none;
                border: none;
                color: #020043;
                font-family: "Inter", serif;
                font-weight: 700;
                cursor: pointer;
                transition: 0.3s;
                font-size: 1em;
                outline: none;

              }
            .link:hover{
                font-size: 1.02em;
                color: red;
            }
        }

    }

    .faixa_home {
        img {
            width: 100%;
            height: 80vh;
        }

        .text {
            position: absolute;
            top: 200px;
            left: 8%;

            h1 {
                font-family: "Inter", serif;
                color: #fff;
                font-size: 2.5em;
            }

            h4 {
                font-family: "Inter", serif;
                font-weight: 500;
                color: #fff;
                margin-left: 5%;
                margin-bottom: 60px;
                margin-top: 50px;
            }

            .button-banner {
                display: flex;
                text-decoration: none;
                color: #fff;
                font-family: "JetBrains Mono", monospace;
                background-color: #020043;
                padding: 14px;
                width: 180px;
                font-weight: 700;
                border-radius: 10px;
                justify-content: center;
                margin-left: 15%;
                font-size: 0.8em;
                transition: 0.3s;
            }
            .button-banner:hover{
                box-shadow: 0px 0px 15px #fff ;
                font-size: 0.81em;
            }

        }
    }

    .faixa_sobre-nos {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;

        h1 {
            display: flex;
            font-family: "Inter", serif;
            font-weight: 700;
            color: #020043;
            justify-content: center;
        }

        .image-text {
            display: flex;
            gap: 100px;
            margin-top: 20px;
            align-items: center;
            justify-content: center;

            img {
                width: auto;
                height: 18em;
            }

            p {
                width: 35%;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 1.2em;
                line-height: 1.5em;
            }
        }
    }

    .faixa_servicos {
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        h1 {
            display: flex;
            font-family: "Inter", serif;
            font-weight: 700;
            font-size: 2.3em;
            color: #020043;
            justify-content: center;
        }

        h3 {
            display: flex;
            font-family: "Inter", serif;
            font-weight: 500;
            text-align: center;
            color: #3D3D3D;
            justify-content: center;
        }

        .cards {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            gap: 80px;

            .one-card,
            .two-card,
            .three-card {
                display: flex;
                flex-direction: column;
                border: solid 4px #020043;
                width: 300px;
                height: 300px;
                padding: 20px;
                border-radius: 10px;
                transition: 0.3s;
                box-shadow: 0px 0px 10px gray;

                img {
                    width: 2em;
                    height: auto;
                }

                h2 {
                    font-size: 1.5em;
                    font-family: "Inter", serif;
                    font-weight: 700;
                    color: #020043;
                }

                p {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 1.2em;
                    color: #3D3D3D;
                }


            }
            .one-card:hover,
            .two-card:hover,
            .three-card:hover {
                box-shadow: 0px 0px 15px #020043 ;
            }
        }
    }

    .faixa_tecnologias{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;

        h1 {
            display: flex;
            font-family: "Inter", serif;
            font-weight: 700;
            color: #020043;
            justify-content: center;
        }
        .icons{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
            
            .firsts-icons,
            .seconds-icons{
                justify-content: center;
                display: flex;
                gap: 150px;
                margin-left: -2%;
                margin-top: 50px;
                img{
                    width: auto;
                    height: 6em;
                }
            }
        }
    }

    .baseboard{
        gap: 15px;
        display: flex;
        margin-top: 60px;
        background-color: #020043;
        align-items: center;        
        justify-content: center;
        font-family: "Inter", serif;
        font-size: 0.8em;
        color: #fff;
        height: 30px;
        width: 100%;
    }
}